h1 {
  font-family: $monserrat;
  font-weight: $bold;
  font-size: $large;
}
h2 {
  font-family: $monserrat;
  font-weight: $semi-bold;
  font-size: $large;
}

h3 {
  font-family: $monserrat;
  font-weight: $bold;
  font-size: $regular;
}
p {
  font-family: $monserrat;
  font-weight: $regular;
  font-size: $small;
  color: $gris;
}
