/* Colores */
$negro: #000;
$white: #fff;
$gris: #9f9f9f;
$azul: #92dce5;
$azul-oscuro: #00577d;
$rojo: #ef6461;
$rojo-oscuro: #9f2241;

/* Fuentes */
$monserrat: 'Montserrat', sans-serif;

/* Pesos de fuentes */
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

/* Tamanos de fuentes */
$large: 22px;
$mediun: 20px;
$regular: 18px;
$small: 16px;
$x-small: 12px;
