.contenedor__perfil {
  display: flex;
  flex-direction: row;
  padding: 1rem 4.6rem;
}
.contenedor__perfil__nombre {
  padding-top: 1rem;
}
.contenedor__perfil__button {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-left: 13rem;
}
@media only screen and (max-width: 1500px) and (min-width: 769px){
  .contenedor__perfil {
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem 1rem 3rem;
  }
  .contenedor__perfil__nombre {
    padding-top: 1rem;
    line-height: 1.5em;
    width: 100%;
  }
  .contenedor__perfil__button {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-left: 9rem;
  }
}

@media only screen and (max-width: 768px) and (min-width: 375px){
  .contenedor__perfil {
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem 2rem 2rem;
  }
  .contenedor__foto {
    padding: 0;

  }
  .contenedor__perfil__nombre {
    padding: 1rem 0;
  }
  .contenedor__perfil__button {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-left: 13rem;
  }
}
